[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
attr = "*"
cattrs = "*"
ruamel.yaml = "*"
pint = "*"


[requires]
python_version = "3.6"
